:root {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: honeydew;
}

ul {
  list-style-type: none;

}
li {
  border: 2px solid green;

  margin: auto;
  vertical-align: middle;
  justify-content: space-between;
}

.button {

  /*float: right; */

  border: none;

  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
 /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.delete {
    display: none;
}